<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../scripts/libraries/jquery-2.2.1.js"></script>
    <script src="../scripts/libraries/bootstrap.js"></script>
    <link href="../styles/bootstrap-theme.css" rel="stylesheet" />
    <link href="../styles/bootstrap.css" rel="stylesheet" />
    <link href="../styles/site.css" rel="stylesheet" />
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="row main--row">
        <div class="col-lg-5 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-12 main">
            <div class="col-lg-12 col-md-12 col-sm-12 header">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 header--app-name"> 
                    <span>KOL forlobsplan</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 header--user-name">
                    <span>Jonna Alma Vestergaard Pedersen</span>
                </div>
                <div  id="stamDataButton" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 header--dropdown">
                    <span>Stamdata</span>
                    <span class="caret"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" id="stamData" style="display:none;"></div>                

            <div>
                <div class="col-lg-12 col-md-12 col-sm-12 nav">
                    <div id="nav1" class="nav--item">
                        <span>Aktiviteter</span>
                    </div>
                    <div id="nav2" class="nav--item">
                        <span>Information om KOL</span>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 nav-pointer">
                    <div id="leftNavPointerLine" class="nav-pointer--line"></div>
                    <div class="nav-pointer--circle"></div>
                    <div class="nav-pointer--line"></div>
                </div>
            </div>

            <div id="activities" class="col-lg-12 col-md-12 col-sm-12">

                <div class="activities--content">
                    <div class="card">
                        <div id="1" class="card-active card-focused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span>OPDATERET 14. JAN 2016</span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Arskontrol 11 . januar 2016</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Mandag den 11. januar 2016 kl. 11.20</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>

                    <div class="card dark">
                        <div id="2" class="card-active card-sub-focused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Konsultation 7. juli 2015</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Tirsdag den 7. juli 2015 kl. 13:40</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>

                    <div class="card dark">
                        <div id="3" class="card-active card-unfocused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Arskontrol 21. marts 2015</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Mandag den 21. marts 2015 kl. 11:20</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>

                    <div class="card dark">
                        <div id="4" class="card-active card-unfocused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span>OPDATERET 14. JAN 2016</span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Arskontrol 11 . januar 2016</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Mandag den 11. januar 2016 kl. 11.20</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>

                    <div class="card dark">
                        <div id="5" class="card-active card-unfocused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Konsultation 7. juli 2015</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Tirsdag den 7. juli 2015 kl. 13:40</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>

                    <div class="card dark">
                        <div id="6" class="card-active card-unfocused">
                            <div class="row card--row">
                                <div class="card--header-left">
                                    <span>KOL FORLOBSPLAN</span>
                                </div>
                                <div class="card--header-right">
                                    <div class="card--header-tag-left"></div>
                                    <div class="card--header-tag-middle">
                                        <div>
                                            <span>OPDATERET 14. JAN 2016</span>
                                        </div>
                                    </div>
                                    <div class="card--header-tag-right"></div>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--title">
                                <span>Arskontrol 11 . januar 2016</span>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>STED:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Laegehuset, Stadion Alle 34, Lunderskov</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>TIDSPUNKT:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>Mandag den 11. januar 2016 kl. 11.20</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-md-2 col-lg-2 col-sm-2 card--content-left">
                                    <span>BEHANDLER:</span>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 card--content-right">
                                    <span>AGH</span>
                                </div>
                            </div>
                            <div class="row card--row col-lg-12 col-md-12 col-sm-12 card--footer">
                                <button>VIS MERE</button>
                            </div>
                        </div>
                        <div class="card--pointer-circle"></div>
                    </div>
                </div>
                <div class="sticky-top">
                    <div>
                        <button id="goUp" class="disabled-button" disabled>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
                <div class="sticky-bottom">
                    <div>
                        <button id="goDown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>

                </div>

            </div>

            <div id="information" style="display:none;" class="col-lg-12 col-md-12 col-sm-12">
                <span>Information om KOL</span>
            </div>

            <div style="background-color:#D1D4D4; padding-top:20px; padding-bottom:20px; padding-left:30px;" class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <span style="font-size:1.2em;">Overblik over mulige aktiviteter i et KOL-forlob</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <span class="glyphicon glyphicon-plus-sign" style="font-size: 25px;"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>