<div class="row stamData--row">

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 stamData--row-title">
            <span>Mine oplysninger</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 stamData--row-info">
            <span>Oplysininger fra Personnummerregisteret</span>
            <span class="glyphicon glyphicon-question-sign"></span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">CPR:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>251248-4918</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">NAVN:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>Jonna Alma Vestergaard Pedersen</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">ADRESSE:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>Langelandsgade 13</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">POSTNR:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>8000 Aarhus C</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">TELEFON:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>22 33 44 55</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">EMAIL:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>jonnaalma@alma.dk</span>
        </div>
    </div>

</div>

<div class="row stamData--row">
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span>Min KOL-medicin</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12 stamData--text">
            <span>Denne liste over medicin er hentet fra nn. Du skal altid folge din laeges anvisininger om maengde og anvendelse af medicin</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-striped stamData--table">
                <tbody>
                    <tr>
                        <td>
                            <span>1</span>
                        </td>
                        <td>
                            <span>Arem ipsum dolotsitamet</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>2</span>
                        </td>
                        <td>
                            <span>Conseqtetur adipisicingelit</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>3</span>
                        </td>
                        <td>
                            <span>Do eiusmod temporincididunt</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>4</span>
                        </td>
                        <td>
                            <span>Do lore manga aliqua</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <span>Veniam quisnostrudexercitation</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row stamData--row">
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span>Samtykke til anvendelse af data til digital forlobsplan</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12 stamData--text">
            <span>Ved oprettelsen af din digitale forlobsplan gav du dit samtykke til at...</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12 stamData--text" >
            <span>Laes hele teksten til samtykket her</span>
        </div>
    </div>
</div>

<div class="row stamData--row stamData--contact-row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row col-lg-10 col-md-10 col-sm-10 stamData--innerRow">
            <span>Kontaktoplysninger pa laeger og klinikker</span>
        </div>
        <div class="row col-lg-2 col-md-2 col-sm-2 stamData--innerRow stamData--expand">
            <span class="glyphicon glyphicon-minus-sign"></span>           
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span>Egen laege</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">NAVN:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>Karin Beate Vemb Madsen</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">ADRESSE:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>Laegehuset, Banegardsgade 12, 2. th., 5000 Odense</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">TELEFON:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>90 90 90 90</span>
        </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12 stamData--innerRow">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span>Sundhedscenter</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">ADRESSE:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>Vester Byled 8, 5000 Odense</span>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12  stamData--innerRow">
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <span class="stamData--desc">TELEFON:</span>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 ">
            <span>80 80 80 80</span>
        </div>
    </div>
</div>

<div class="stamData--open-submit">
    <button onclick="enableAddForm()">
        <span>TILFOJ FLERE KONTAKTOPLYSNINGER</span>
    </button>
</div>

<div class="row stamData--row" id="addForm">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">Sted</span>
            <input type="text" class="form-control empty-input" disabled
                   onfocusout="disfocusInput(this)" 
                   onfocus="focusInput(this)" 
                   placeholder="Sted"  />
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">Navn</span>
            <input type="text" class="form-control empty-input" disabled 
                   onfocusout="disfocusInput(this)" 
                   onfocus="focusInput(this)" 
                   placeholder="Navn"  />
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">Adresse</span>
            <input type="text" class="form-control empty-input" disabled 
                   onfocusout="disfocusInput(this)" 
                   onfocus="focusInput(this)" 
                   placeholder="Adresse" />
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">Telefon</span>
            <input type="text" class="form-control empty-input" disabled
                   onfocusout="disfocusInput(this)" 
                   onfocus="focusInput(this)" 
                   placeholder="Telefon" />
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">E-mail</span>
            <input type="text" class="form-control empty-input" disabled 
                   onfocusout="disfocusInput(this)" 
                   onfocus="focusInput(this)" 
                   placeholder="E-mail" />
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <span class="invisible-span">Info</span>
            <textarea class="form-control empty-input" disabled 
                      onfocusout="disfocusInput(this)" 
                      onfocus="focusInput(this)" 
                      placeholder="Yderligere information" ></textarea>
        </div> 
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:10px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="enabled-button-invisible" id="enabledAddButton" >
                <span class="glyphicon glyphicon-ok-circle" style=""></span>
                <div>
                    <label>Tilfoj</label>
                </div>
            </div>
            <input type="button" name="Tilfoj" value="Tilfoj" class="disabled-button-visible" disabled id="disabledAddButton"/>
        </div>
    </div>

</div>