body {
    background-color:#fafafa;
}

.main--row {
    width: 100%;
    margin: 0px;
}

.main{
    padding:0px;
    font-family: "Roboto";
    box-shadow: 5px 5px 5px #888888;
    margin-bottom:30px;
}

/*Header*/
.header{
    background-color:#5E6B6F; 
}

.header--app-name{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    height: 100%;  
    border-right-style:solid; 
    border-right-color:#88969A; 
    border-right-width:thin;
    padding:5px 5px 5px 5px;
}

.header--app-name span{
    font-size:1.3em; 
    color:#D1D4D4;
}

.header--user-name{
    padding:8px 5px 5px 5px;
}

.header--user-name span{
    font-size:1.1em; 
    color:#D1D4D4;
}

.header--dropdown{
    cursor:pointer;
    padding:8px 5px 5px 5px;
}

.header--dropdown span{
    font-size:1em; 
    color:#D1D4D4;
}

.dropUp{
    content: ''; 
    border-top: 0; 
    border-bottom: 4px dashed;
}

/*Nav*/
.nav{
    background-color:#88969A; 
    height:60px; 
    margin-bottom: -7px; 
    padding:0px; 
    padding-bottom: 10px; 
    cursor:pointer;
}

.nav--item{
    background-color:transparent; 
    width:50%; 
    height:100%; 
    border:none; 
    float:left; 
    position:relative;
}

.nav--item span{
    bottom:0; 
    position:absolute; 
    color:#616E72; 
    font-size:1.3em; 
    width: 100%; 
    text-align: center;
}

.nav-pointer{
    background-color:inherit; 
    height:14px; 
    padding:0px; 
    z-index:5
}

.nav-pointer--circle{
    float:left; 
    background-color:#F78623; 
    width:14px; 
    height:14px; 
    border-radius:100%; 
    border-style:solid; 
    border-color:white;
}

.nav-pointer--line{
    height:7px; 
    border-bottom-style:solid; 
    border-color:white;
    width:100%;
}

#leftNavPointerLine{
    float:left;
}

/*StamData*/
#stamData{
    background-color:#5E6B6F; 
    padding:0px;
}

.stamData--row{
    border-top-style:solid; 
    border-top-color:#88969A; 
    border-top-width:thin;
    margin:0px; 
    padding:15px;
    color:#D1D4D4;
}

.stamData--innerRow{
    margin:0px;
}

.stamData--row-title{
    text-align:left;
    font-size:1.1em;
}

.stamData--row-title span{
    font-size:1.1em;
}

.stamData--row-info span{
    color:#A5AAAD; 
    font-size:0.9em;
}

.stamData--desc{
    font-weight:bold;
    font-size:0.8em;
}

.stamData--text{
    font-size:0.9em; 
    color:#C4C9CB;
}

.stamData--table{
    background-color:white; 
    color:black;
}

.stamData--contact-row{
    margin-bottom:-13px; 
    padding-bottom:28px;
}

.stamData--open-submit{
    background-color:transparent; 
    z-index:5; 
    color:#5E6B6F; 
    padding-left:45px;
}

.stamData--open-submit button{
    border-color:#5E6B6F; 
    border-radius:4px; 
    background-color:white; 
    border-style:solid; 
    border-width:2px;
}

#addForm{
    background-color:#D1D4D4; 
    margin-top:-13px; 
    padding-top:23px; 
    border-top-width:0px; 
    padding-bottom:25px;
}

.invisible-span{
    color:#5E6B6F; 
    padding-left:13px; 
    font-size: 0.7em; 
    visibility:hidden;
}

.visible-span{
    color:#5E6B6F; 
    padding-left:13px; 
    font-size: 0.7em; 
    visibility:visible;
}

.empty-input{
    margin-top:-17px;
}

.full-input{
    margin-top:-17px;
    padding-top:15px;
}

#enabledAddButton span{
    float:left;
    z-index:5;
    color:white; 
    background-color:#4C7A96; 
    font-size:30px; 
    font-weight:100; 
    border-radius:100%; 
    float:left;
    margin-top:10px;
}

.stamData--expand span{
    font-size:25px;
}

#enabledAddButton div{
    background-color:#4C7A96; 
    width:60px; 
    height:30px; 
    float:left; 
    display:flex;
    margin-left: -15px; 
    padding-left: 20px;  
    padding-top: 5px; 
    border-radius: 3px;
    margin-top:10px;
}

#enabledAddButton label{
    color:white;
    font-weight: normal;
    cursor:pointer;
}

.disabled-button-visible{
    background-color:#E1E5E6; 
    border-width:0px; 
    color:#5E6B6F; 
    padding: 5px 15px 5px 15px;
    display: initial;
}

.disabled-button-invisible{
    background-color:#E1E5E6; 
    border-width:0px; 
    color:#5E6B6F; 
    padding: 5px 15px 5px 15px;
    display:none;
}

.enabled-button-visible{
    cursor:pointer;
    display: initial;
}

.enabled-button-invisible{
    cursor:pointer;
    display:none;
}

/*Content*/
#activities{
    background-color:#DCD9D1; 
    height:inherit; 
    padding:0px; 
    margin-top: -7px; 
    padding-left:5%; 
    padding-top:20px; 
    display:flex;
}

.activities--content{
    width:90%; 
    float:left; 
    border-right-color:white; 
    border-right-style: solid; 
    margin-bottom:10px;
}

.fixed-top {
    position: fixed !important;
    float:right;
    top:0;
}

.fixed-bottom {
    position: fixed;
    float:right;
    bottom:0;

}

.sticky-top{
    margin-left:-20px;
    z-index:101;
    position: absolute;
    font-size:20px;
}

.sticky-top div{
    width:40px; 
    height:40px; 
    background-color:#DCD9D1;
}

.sticky-top button{
    border-radius:100%; 
    border-style:none; 
    background-color:#4C7A96; 
    color:white; 
    width:40px; 
    height:40px;
}

.sticky-bottom{
    margin-left:-20px;
    display: flex; 
    align-items: flex-end; 
    z-index:100;
    font-size:20px;
}

.sticky-bottom div{
    width:40px; 
    height:40px; 
    background-color:#DCD9D1;
}

.sticky-bottom button{
    border-radius:100%; 
    border-style:none; 
    background-color:#4C7A96; 
    color:white; 
    width:40px; 
    height:40px;
}

.disabled-button{
    opacity:0.4;
}

#information{
    background-color:#DCD9D1; 
    height:100px; 
    padding:0px; 
    margin-top: -7px; 
}

.card{
    width:100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.dark{
    width:100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
     -moz-filter: grayscale(1); 
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
}

.card--pointer-circle{
    background-color:#F78623; 
    width:14px; 
    height:14px; 
    border-radius:100%; 
    border-style:solid; 
    border-color:white;
    float:right;    
    margin-right: -8px;
}

.card--row{
    margin:0px; 
    padding-left:10px;
}

.card--header-left{
    float:left;
}

.card--header-left span{
    font-size:0.6em; 
    color:#88969A;
}

.card--header-right{
    background-color:#7BAA20; 
    float:right;
}

.card--header-tag-left{
    background-color:white; 
    float:right;
    width:15px; 
    height:20px; 
    border-top-left-radius: 10px;
}

.card--header-tag-middle{
    background-color:white; 
    width:154px; 
    height:20px; 
    float:right;
}

.card--header-tag-middle div{
    background-color:#7BAA20; 
    float:right; 
    width:154px; 
    height:20px; 
    border-bottom-left-radius: 12px; 
    border-bottom-right-radius: 12px;
}

.card--header-tag-middle span{
    color:white; 
    font-size:10px; 
    padding-left:10px;
}

.card--header-tag-right{
    background-color:white; 
    float:right; 
    width:20px; 
    height:20px; 
    border-top-right-radius: 10px;
}

.card--title span{
    color:#4C7A96; 
    font-size:1.7em;
}

.card--content-left{
    padding-left:0px;
}

.card--content-left span{
    font-weight:bold; 
    font-size:0.8em;
}

.card--content-right span{
    font-size:1.1em;
}

.card--footer{
    margin:0px; 
    padding-left:10px; 
    padding-right:10px;
}

.card--footer button{
    float:right; 
    background-color:#4C7A96; 
    color:white; 
    border-width:0px; 
    border-radius:3px; 
    font-size:0.9em; 
    padding:5px 10px 5px 10px; 
    margin-top:-15px;
}

.card-active{
    float:left;
    background-color:white; 
    margin-bottom:20px; 
    width:90%; 
    min-height:100px; 
    box-shadow:3px 3px 3px #888888; 
    padding: 0px 5px 0px 0px; 
    border-left-style:solid; 
    border-left-width:thick; 
    border-left-color:#F78623; 
    border-radius:5px;
    padding-bottom:10px;
}

.card-focused{

}

.card-sub-focused{
    -moz-filter: grayscale(1); 
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
    opacity:0.4; 
    width:80%;
}

.card-unfocused{
    -moz-filter: grayscale(1); 
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
    opacity:0.4; 
    width:70%;
}
